.overflow-hidden {
  overflow: hidden;
}
.overflow-scroll {
  overflow: scroll;
}
.overflow-visible {
  overflow: visible;
}
.overflow-auto {
  overflow: auto;
}
.overflow-x-scroll {
  overflow-x:scroll;
}
.overflow-y-scroll {
  overflow-y: scroll;
}
